body{
    --bg: #853ba3;
}

.contact{
    padding: 0 10%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact h2{
    width: 100%;
    margin-bottom: 40px;
}

.contact ul{
    list-style: none;
    width: 50%;
    margin-bottom: 40px;
}

.contact ul h4{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #000;
    background: #752d92;
    margin-bottom: 5px;
}

.contact ul li{
    font-weight: 400;
    line-height: 25px;
}

.contact ul li p{
    font-weight: 700;
    color: var(--text);
}

.contact ul li a{
    font-weight: 700;
    transition: 0.2s;
}

.contact ul li a:hover{
    color: var(--index1);
}

.contact form{
    width: calc(50% - 30px);
    background: #752d92;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.contact form textarea,
.contact form input{
    background: var(--bg);
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5px;
}

.contact form textarea{
    height: 120px;
}

.contact form button{
    --primary: var(--bg);
}











@media screen and (max-width: 800px){

    .contact{
        padding: 0 10px;
    }
    
    .contact ul{
        width: 100%;
    }
    
    .contact form{
        width: 100%;
    }
    
}