body{
    --bg: #aa307b;
}


.news{
    padding: 0px 10%;
    margin-bottom: 100px;
}

.news h2{
    margin-bottom: 30px;
}


.news_container a{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #c74796;
    border: 2px solid var(--bg);
    display: flex;
    flex-wrap: wrap;
}

.news_container a:hover{
    border-color: var(--text);
}

.news_container a .img_wrap{
    width: 200px;
    margin-right: 10px;
    overflow: hidden;
}
.news_container a .img_wrap img{
    width: 100%;
    border-radius: 10px;
}

.news_container a  .text_wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 220px);
    padding: 10px;
}


.news_container a  .text_wrap h4{
    font-size: 22px;
}

.news_container a  .text_wrap span{
   font-weight: 500;
   margin-bottom: auto;
}

.news_container a  .text_wrap p{
    margin: 10px 0px;
}









.about_news{
    padding: 0px 10%;
    margin-bottom: 100px;
}

.about_news span{
    font-weight: 700;
    font-size: 14px;
}

.about_news h2{
    margin: 20px 0;
}

.about_news img{
    width: 100%;
    border-radius: 10px;
}

.about_news h5{
    font-size: 25px;
    width: 80%;
    margin: 30px auto;
}

.about_news p{
    margin: 20px 0;
    font-size: 20px;
    line-height: 35px;
}

.about_news h4{
    margin-top: 20px;
    font-size: 22px;
}



.about_news a{
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--text);
    display: inline-block;
    padding: 20px;
    background: var(--index1);
    border-radius: 10px;
    transition: ease-out 0.2s;
}

.about_news a:hover{
    background: var(--index);
}







@media screen and (max-width: 800px){
    .news{
        padding: 0px 10px;
    }
    
    .news_container a:hover{
        border-color: var(--text);
    }
    
    .news_container a .img_wrap{
        width: 100%;
        margin-right: 0;
    }
    
    .news_container a  .text_wrap{
        width: 100%;
    }
    .news_container a  .text_wrap span{
       margin-top: 10px;
    }   




    .about_news{
        padding: 0px 10px;
    }
}