body{
    --bg: #aa307b;
}


.news{
    padding: 0px 10%;
    margin-bottom: 100px;
}

.news h2{
    margin-bottom: 30px;
}


.news_container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}

.news_item{
    width: 300px;
    margin: 0 20px 20px 0;
    padding: 20px;
    border-radius: 20px;
    background: #c74796;
}


.news_item img{
    width: 100%;
    border-radius: 10px;
}

.news_item span{
    display: block;
    margin: 10px 0;
}


.news_item a{
    font-size: 18px;
    font-weight: 700;
}

.news_item a:hover{
    color: var(--index);
}




.about_news{
    padding: 0px 10%;
    margin-bottom: 100px;
}

.about_news span{
    font-weight: 700;
    font-size: 14px;
}

.about_news h2{
    margin: 20px 0;
}

.about_news img{
    width: 100%;
    border-radius: 10px;
}

.about_news h5{
    font-size: 25px;
    width: 80%;
    margin: 30px auto;
}

.about_news p{
    margin: 20px 0;
    font-size: 20px;
    line-height: 35px;
}

.about_news h4{
    margin-top: 20px;
    font-size: 22px;
}



.about_news a{
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--text);
    display: inline-block;
    padding: 20px;
    background: var(--index1);
    border-radius: 10px;
    transition: ease-out 0.2s;
}

.about_news a:hover{
    background: var(--index);
}







@media screen and (max-width: 800px){
    .news{
        padding: 0px 10px;
    }

    .news_item{
        width: 100%;
        margin-right: 0;
    }


    .about_news{
        padding: 0px 10px;
    }
    .about_news h5{
        width: 100%;
    }
}